cssselect==0.7.1
python-dateutil==1.5
gdata==2.0.16
leaf==0.4.2
git+https://github.com/dskecse/gae-sessions.git#egg=gaesessions

itsdangerous==1.1.0
click==7.1.2
werkzeug==1.0.1
markupsafe==1.1.1
Jinja2==2.10.1
Flask==1.1.2

future==0.18.3
