cssselect==0.7.1
lxml==4.9.4
leaf==0.4.2
git+https://github.com/dskecse/gae-sessions.git@python3-compat#egg=gaesessions

appengine-python-standard>=1.0.0

Flask==3.0.0

six==1.16.0

requests==2.31.0
certifi==2023.7.22 # requests dep
google-api-python-client==2.111.0
google-auth>=2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0

gae-env==0.1.1

pytz==2023.3.post1
