{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        {% include "html/content/user_guide.html" %}
    </div>
    {% if user %}
        {% include "html/misc/feedback_modal.html" %}
    {% endif %}
{% endblock %}

{% block navigation_bar %}
    <ul class="nav">
        <li><a href="/">Главная</a></li>
        <li class="active"><a href="/help">Помощь</a></li>
        {% if user %}
            <li><a href="#feedback_modal" role="button" data-toggle="modal">Вопросы</a></li>
        {% endif %}
    </ul>
{% endblock %}
