{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span7" id="schedule-display">
                <!--displaying schedule-->
                {% if  schedule%}
                    {% include "content/schedule_table.html" %}
                {% endif %}
            </div>
            <div class="span5" id="student-info">
                <!--student form display-->

                <div class="container-fluid hero-unit">
                {% if action == 'edit' or not user %}
                    {% include "content/student_info_edit.html" %}
                {% endif %}
                </div>
                {% if link_key %}
                    {% include "content/link_info.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}