{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6" id="schedule-display">
                <!--displaying schedule-->
                {% if  schedule%}
                    {% include "content/schedule_table.html" %}
                {% endif %}
            </div>
            <div class="span4" id="student-info">
                <!--student form display-->

            </div>
        </div>
    </div>
{% endblock %}