{% extends "base.html" %}
{% block content %}
  <div class="container-fluid">
    <div class="row-fluid span9">
      <h3>Политика конфиденциальности</h3>
      <p>Последнее обновление: 30 сентября 2023 г.</p>
      <p>Мы стремимся обеспечить точность, конфиденциальность и безопасность вашей персональной информации ("Персональная информация"). В рамках этого обязательства наша политика конфиденциальности регулирует наши действия, связанные со сбором, использованием и раскрытием личной информации.</p>
      <h4>1. Введение</h4>
      <p>Мы несем ответственность за сохранение и защиту находящейся под нашим контролем Персональной информации. Мы назначили лицо или лиц, ответственных за соблюдение нашей политики конфиденциальности.</p>
      <h4>2. Идентификационные цели</h4>
      <p>Мы собираем, используем и раскрываем Персональную информацию, чтобы предоставить вам запрошенный вами продукт или услугу, а также предложить вам дополнительные продукты и услуги, которые, по нашему мнению, могут вас заинтересовать. Цели, для которых мы собираем Персональную информацию, будут определены до или в момент сбора информации.</p>
      <h4>3. Согласие</h4>
      <p>Для сбора, использования или раскрытия Персональной информации требуется знание и согласие, за исключением случаев, когда это требуется или разрешено законом. Предоставление нам вашей Персональной информации всегда является вашим выбором. Однако ваше решение не предоставлять определенную информацию может ограничить наши возможности по предоставлению вам наших продуктов или услуг. Мы не будем требовать от вас согласия на сбор, использование или раскрытие информации в качестве условия предоставления продукта или услуги, за исключением случаев, когда это необходимо для предоставления продукта или услуги.</p>
      <h4>4. Ограничение сбора</h4>
      <p>Собираемая Персональная информация будет ограничена теми данными, которые необходимы для определенных нами целей.</p>
      <h4>5. Ограничение использования, раскрытия и хранения</h4>
      <p>Персональная информация может быть использована или раскрыта только в тех целях, для которых она была собрана, если вы не дали иного согласия, или если это требуется или разрешено законом. Персональная информация будет храниться только в течение периода времени, необходимого для выполнения цели, для которой мы ее собрали, или в соответствии с требованиями закона.</p>
      <h4>6. Точность</h4>
      <p>Персональная информация будет храниться в настолько точной, полной и актуальной форме, насколько это необходимо для выполнения целей, для которых она будет использоваться.</p>
      <h4>7. Защита информации о пользователе</h4>
      <p>Персональная информация будет защищена с помощью мер безопасности, соответствующих уровню чувствительности информации. Мы принимаем все разумные меры предосторожности для защиты вашей персональной информации от любой потери или несанкционированного использования, доступа или раскрытия.</p>
      <h4>8. Открытость</h4>
      <p>Мы предоставляем вам информацию о нашей политике и практике в отношении управления вашей персональной информацией.</p>
      <h4>9. Доступ пользователей</h4>
      <p>По запросу вам будет сообщено о существовании, использовании и раскрытии вашей Персональной информации, а также предоставлен доступ к ней. Вы можете проверить точность и полноту своей Персональной информации и, в случае необходимости, потребовать ее изменения. Однако в некоторых случаях, разрешенных законом, мы не будем раскрывать вам определенную информацию. Например, мы не можем раскрывать информацию о Вас, если на нее ссылаются другие лица или если существуют юридические ограничения или ограничения безопасности.</p>
      <h4>10. Работа с жалобами и предложениями пользователей</h4>
      <p>Вы можете направлять любые вопросы или запросы в отношении нашей политики конфиденциальности, <a target="_blank" rel="noopener noreferrer" href="https://mailhide.io/ru/e/n4OV8HWx">отправив письмо на email</a>.</p>
      <h4>Дополнительная информация</h4>
      <h5>Файлы cookie</h5>
      <p>
        Cookie - это небольшой компьютерный файл или фрагмент информации, который может быть сохранен на жестком диске вашего компьютера при посещении наших сайтов. Мы можем использовать файлы cookie для улучшения функциональности нашего сайта и, в некоторых случаях, для обеспечения индивидуального подхода к посетителям.
        Файлы cookie широко используются, и большинство веб-браузеров изначально настроены на автоматическое принятие файлов cookie. Вы можете изменить настройки своего интернет-браузера, чтобы запретить своему компьютеру принимать файлы cookie или уведомить вас о получении файла cookie, чтобы вы могли отказаться от его принятия. Однако следует иметь в виду, что отключение cookies может привести к нарушению оптимальной работы нашего сайта.
      </p>
      <h5>Другие веб-сайты</h5>
      <p>Наш сайт может содержать ссылки на другие сайты третьих лиц, которые не регулируются данной политикой конфиденциальности. Хотя мы стараемся размещать ссылки только на сайты с высокими стандартами конфиденциальности, наша политика конфиденциальности перестает действовать после того, как вы покинете наш сайт. Кроме того, мы не несем ответственности за методы обеспечения конфиденциальности, применяемые на сайтах третьих лиц. Поэтому мы рекомендуем вам ознакомиться с положениями о конфиденциальности этих сайтов, чтобы узнать, как может осуществляться сбор, использование, передача и раскрытие вашей информации.</p>
      <p>&nbsp;</p>
    </div>

    <div class="row-fluid span9">
      <h3>Privacy Policy</h3>
      <p>Last updated: September 30, 2023</p>
      <p>We are committed to maintaining the accuracy, confidentiality, and security of your personally identifiable information ("Personal Information"). As part of this commitment, our privacy policy governs our actions as they relate to the collection, use and disclosure of Personal Information.</p>
      <h4>1. Introduction</h4>
      <p>We are responsible for maintaining and protecting the Personal Information under our control. We have designated an individual or individuals who is/are responsible for compliance with our privacy policy.</p>
      <h4>2. Identifying Purposes</h4>
      <p>We collect, use and disclose Personal Information to provide you with the product or service you have requested and to offer you additional products and services we believe you might be interested in. The purposes for which we collect Personal Information will be identified before or at the time we collect the information.</p>
      <h4>3. Consent</h4>
      <p>Knowledge and consent are required for the collection, use or disclosure of Personal Information except where required or permitted by law. Providing us with your Personal Information is always your choice. However, your decision not to provide certain information may limit our ability to provide you with our products or services. We will not require you to consent to the collection, use, or disclosure of information as a condition to the supply of a product or service, except as required to be able to supply the product or service.</p>
      <h4>4. Limiting Collection</h4>
      <p>The Personal Information collected will be limited to those details necessary for the purposes identified by us.</p>
      <h4>5. Limiting Use, Disclosure and Retention</h4>
      <p>Personal Information may only be used or disclosed for the purpose for which it was collected unless you have otherwise consented, or when it is required or permitted by law. Personal Information will only be retained for the period of time required to fulfil the purpose for which we collected it or as may be required by law.</p>
      <h4>6. Accuracy</h4>
      <p>Personal Information will be maintained in as accurate, complete and up-to-date form as is necessary to fulfil the purposes for which it is to be used.</p>
      <h4>7. Safeguarding User Information</h4>
      <p>Personal Information will be protected by security safeguards that are appropriate to the sensitivity level of the information. We take all reasonable precautions to protect your Personal Information from any loss or unauthorized use, access or disclosure.</p>
      <h4>8. Openness</h4>
      <p>We will make information available to you about our policies and practices with respect to the management of your Personal Information.</p>
      <h4>9. User Access</h4>
      <p>Upon request, you will be informed of the existence, use and disclosure of your Personal Information, and will be given access to it. You may verify the accuracy and completeness of your Personal Information, and may request that it be amended, if appropriate. However, in certain circumstances permitted by law, we will not disclose certain information to you. For example, we may not disclose information relating to you if other individuals are referenced or if there are legal or security restrictions.</p>
      <h4>10. Handling User Complaints and Suggestions</h4>
      <p>You may direct any questions or enquiries with respect to our privacy policy by <a target="_blank" rel="noopener noreferrer" href="https://mailhide.io/en/e/n4OV8HWx">sending us an email</a>.</p>
      <h4>Additional Information</h4>
      <h5>Cookies</h5>
      <p>
        A cookie is a small computer file or piece of information that may be stored in your computer's hard drive when you visit our websites. We may use cookies to improve our website's functionality and, in some cases, to provide visitors with a customized online experience.
        Cookies are widely used and most web browsers are configured initially to accept cookies automatically. You may change your Internet browser settings to prevent your computer from accepting cookies or to notify you when you receive a cookie so that you may decline its acceptance. Please note, however, if you disable cookies, you may not experience optimal performance of our website.
      </p>
      <h5>Other Websites</h5>
      <p>Our website may contain links to other third-party sites that are not governed by this privacy policy. Although we endeavour to only link to sites with high privacy standards, our privacy policy will no longer apply once you leave our website. Additionally, we are not responsible for the privacy practices employed by third party websites. Therefore, we suggest that you examine the privacy statements of those sites to learn how your information may be collected, used, shared and disclosed.</p>
      <p>&nbsp;</p>
    </div>
  </div>
  {% if user %}
    {% include "html/misc/feedback_modal.html" %}
  {% endif %}
{% endblock %}

{% block navigation_bar %}
  <ul class="nav">
    <li><a href="/">Главная</a></li>
    <li><a href="/help">Помощь</a></li>
    {% if user %}
      <li><a href="#feedback_modal" role="button" data-toggle="modal">Вопросы</a></li>
    {% endif %}
  </ul>
{% endblock %}
