/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

.proper-content {
    padding-top: 60px;
    /* 60px to make the container go all the way to the bottom of the topbar */
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container .credit {
    margin: 20px 0;
}

/* schedule table styling */
td.wday {
    background-color: #89aeff;
}
thead th{
    color: white;
    background-color: graytext;
}

.heart {
  color: rgb(255, 121, 198);
  font-size: 1.4em;
}

a.developer {
  border-bottom: 1px solid;
  color: #333;
  text-decoration: none;
}
