<div class="well">
    <form id="calendar_detail" method="POST" action="/">
        <fieldset>
            <legend>Google-календарь</legend>
            <label>Календарь</label>
            <select id="calendar" name="calendar" >
                <option value="-1">Выберите календарь</option>
                {% for cal in calendar.picker %}
                    <option value="{{ cal.id }}" {% if cal.id == student.calendar_id %}selected="selected" {% endif %}>{{ cal.title }}</option>
                {% endfor %}
            </select>
            <label class="checkbox">
                <input id="auto" name="auto" type="checkbox" {% if student.auto %}checked="checked" {% endif %}> Автоматический импорт
                <span class="help-block">Расписание будет импортироваться каждое воскресенье автоматически</span>
            </label>
            {% with calendars = calendar.picker | map(attribute='title') | list %}
                <input id="calendar_name" type="hidden" name="calendar_name" {% if student.calendar in calendars %}value="{{ student.calendar }}"{% endif %}>
                <br>
                <button type="submit" class="btn btn-danger" {% if student.calendar not in calendars %}disabled{% endif %}>Сохранить</button>
            {% endwith %}
        </fieldset>
    </form>
</div>
