<div>
    <form id="calendar_detail" method="POST" action="/">
        <fieldset>
            <legend>Google-календарь</legend>
            <label>Календарь</label>
            <select id="calendar" name="calendar" >
                <option value="-1">Выберите кадендарь</option>
                {% for cal in calendar.picker %}
                    <option value="{{ cal.id }}" {% if cal.id == student.calendar_id %}selected="selected" {% endif %}>{{ cal.title }}</option>
                {% endfor %}
            </select>
            <label class="checkbox">
                <input id="auto" name="auto" type="checkbox" {% if student.auto %}checked="checked" {% endif %}> Автоматический импорт
                <span class="help-block">Расписание будет импортироваться каждое воскресенье автоматически</span>
            </label>
            <input id="calendar_name" type="hidden" name="calendar_name" value="{{ student.calendar }}">
            <br>
            <button type="submit" class="btn btn-danger">Сохранить</button>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    $('select#calendar').change(function(){
        $('input#calendar_name').val($('#calendar option:selected').text());
    });
</script>