<div class="well">
    <form id="study_detail" method="POST" action="/">
        <fieldset>
            <legend>Параметры</legend>

            <label for="faculty">Факультет</label>
            <select id="faculty" name="faculty" required>
                <option value="">Выберите факультет</option>
                {% for ft in faculty_list %}
                    <option value="{{ ft.0 }}">{{ ft.1.decode("utf8") }}</option>
                {% endfor %}
            </select>

            <label for="form">Форма обучения</label>
            <select id="form" name="form" disabled required></select>

            <label for="course">Курс</label>
            <select id="course" name="course" disabled required></select>

            <label for="group">Группа</label>
            <select id="group" name="group" disabled required></select>
            <br>
            <button type="submit" class="btn btn-primary disabled" disabled>
              {% if student %}
                Сохранить
              {% else %}
                Показать
              {% endif %}
            </button>
        </fieldset>
    </form>
</div>
