<div class="well text-center">
  {% if student and student.calendar_id %}
    <p>
      Выбранный календарь: <b>{{ student.calendar }}</b> <br>
      <a href="/import"  class="btn btn-mini btn-primary" type="button">
        <i class="icon-arrow-down icon-white"></i> Импортировать сейчас
      </a>
    </p>
    <p>
      Автоматический импорт: {% if student.auto %} <span class="badge badge-success">On</span> {% else %} <span class="badge badge-important">Off</span> {% endif %}
    </p>
  {% endif %}
  <div class="btn-group">
    <a href="/edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Изменить расписание</a>
    <a href="/auth" class="btn btn-warning"><i class="icon-calendar icon-white"></i> Изменить календарь</a>
  </div>
</div>
