<div class="container-fluid">
    <div class="row-fluid span9">
        <h3>Что это такое?</h3>
        <p class="lead">
            Это сервис, который позволяет студентам БГЭУ автоматически импортровать расписание занятий в календари Google.
        </p>
        <h3>Зачем это надо?</h3>
        <p class="lead">
            Наверняка у вас есть смартфон под управлением iOS или Android, вам больше не придется каждый раз заполнять неудобную форму, чтоб проверить расписанием - оно будет всегда под рукой. Настройте импорт в календарь и включите синхронизацию в настройках вашего аккаунта. На смартфоне используйте любимый клиент для календаря.
        </p>
        <p>
            Впрочем, если смартфона нет, или нет желания использовать приложение календаря - сервис предоставит вам постоянную ссылку, по которой будет доступно ваше расписание без необходимости перезаполнять форму каждый раз.
        </p>
    </div>
</div>