<div class="container-fluid">
    <div class="row-fluid span9">
        <h3>Что это такое?</h3>
        <p class="lead">
            Это сервис, который позволяет импортировать студентам БГЭУ автоматически импортровать распис ание занятий с календарем Google.
        </p>
        <h3>Зачем это надо?</h3>
        <p class="lead">
            Наверняка у вас есть смартфон под управлением iOS или Android, включив на нем синхронизацию календаря вам больше не придется каждый раз заполнять медленную форму чтоб проверить расписанием - оно будет всегда под рукой.
        </p>
        <p>
            Впрочем, если смартфона нет, или нет желания использовать приложение календаря - сервис предоставит вам постоянную ссылку, по которой будет доступно ваше расписание без необходимости перезаполнять форму каждый раз.
        </p>
    </div>
</div>