{% extends "base.html" %}
{% include "base_header.html" %}
{% block content %}
    <div style="padding: 10px 10px 10px 10px;">
        <ul>
            <li id="manual" class="notranslate       ">
                <h3>Пошаговая инструкция:</h3>
                <ul>
                    <li>
                        <h4>Шаг 1. - Входим</h4>

                        <p>Для использования сервиса необходимо иметь Google аккаунт. Если у вас его нет - система предложит вам
                            создать его.</p>

                        <p><img src='/images/m_enter.PNG'></p>
                    </li>
                    <li>
                        <h4>Шаг 2. - Подключаем календарь</h4>

                        <p>Чтобы иметь возможность импортировать к себе в календарь - необходимо разрешить приложению доступ к
                            вашему календарю.</p>

                        <p>Этот шаг не обязательный, если вы не намерены пользоваться этой функцией, а лишь только
                            онлайн-просмотром веб-версии расписания, пропустите этот шаг.</p>

                        <p><img src='/images/m_calendar.PNG'></p>

                        <p>Вы будете переброшены на страницу с запросом доступа - жмите "разрешить".</p>
                    </li>
                    <li>
                        <h4>Шаг 3. - Заполняем форму</h4>

                        <p>В зависимости от предыдущего шага, вам может быть необходимо выбрать календарь, в который будет
                            осуществляться импорт. Выберите из списка ваших календарей.</p>

                        <p>Далее выберите ваши факультет-группу-курс. Как тольеко вы это сделаете - в правом углу появится блок
                            постоянных ссылок на веб-версию вашего расписания. Можете добавлять их в закладки.</p>

                        <p><img src='/images/m_fill.PNG'></p>

                        <p>ВНИМАНИЕ: Имопрт/Автоматический импорт доступен только если вы прошли Шаг 2 этой инструкции.</p>
                    </li>
                    <li>
                        <h4>Шаг 4. - Сохраняем</h4>

                        <p>Если все параметры выбраны - сохраните форму. При возвращении на сайт вы увидите ваши сслки и кнопку
                            импорта</p>

                        <p><img src='/images/m_save.PNG'></p>

                        <p>Чтобы изменить значения - заново заполните форму и нажмите "сохранить"</p>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
{% endblock %}