{% extends "base.html" %}

{% block scripts %}
    {% if not account.username %}
        <script>
            $(document).ready(function () {
                $('button#saveForm').attr('disabled', true).parent().append('<p class="instruct" id="loginme"><small>Войдите под своим аккаунтом, сначала</small></p>');
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
<form id="calendartool" name="calendartool" class="wufoo  page" autocomplete="off" enctype="multipart/form-data" method="post"
      novalidate
      action="">

    {% include "base_header.html" %}

    <ul>
        <li id="account" class="notranslate leftHalf      ">
            <h3>Аккаунт</h3>
            {% if account.username %}
                Привет, {{ account.username }}! (<a href="{{ account.logout_url }}">Выйти</a>)
            {% else %}
                <a href="{{ account.login_url }}">Войти с гугл-аккаунтом</a>.
            {% endif %}
        </li>
        <li id="permalink" class="notranslate rightHalf      ">
            {% if permalink %}
            <h3>Постоянная ссылка</h3><a href="/scheduleapi?action=view&{{ permalink }}">На неделю</a> | <a href="/scheduleapi?action=view&period=3&{{ permalink }}">На семестр</a>
            {% endif %}
        </li>

        {% if calendar %}
            {% if calendar.picker %}
                <li id="calendarpicker" class="notranslate leftHalf">
                    <script>$('select#faculty').attr('disabled', true);</script>
                    <label class="desc" id="calendar_title" for="calendar">
                        Импорт в
                        <span id="calendarpicker_req" class="req">*</span>
                    </label>
                    <div>
                        <select id="calendar" name="calendar" class="field select medium" tabindex="1" onchange="$('select#faculty').removeAttr('disabled');">
                            <option value="-1" selected="selected">Выберите</option>
                            {% for cal in calendar.picker %}
                                <option value="{{ cal.id }}">{{ cal.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class="instruct" id="instruct4"><small>Начните здесь</small></p>
                </li>
            {% else %}
                {% if calendar.saved %}
                    <li id="calendarpicker" class="notranslate leftHalf      ">
                        <h3>Использовать календарь</h3>
                        <b>{{ calendar.saved.name }}</b> (<a href='/auth'>изменить</a>)<br><br>
                    </li>
                    <li id="calendarimporter" class="notranslate rightHalf      ">
                        <h3>Вкачать!</h3>
                        <button id="importForm" name="importForm" class="btTxt submit" type="button" value="Импорт!" onclick="importcal(this);">Импорт</button>
                        {% if calendar.import %}
                            <p>Импорт успешен!</p>
                        {% endif %}
                    </li>
                {% endif %}
             {% endif %}
        {% else %}
            {% if account.username %}
                <li id="calendar" class="notranslate leftHalf      ">
                    <h3>Доступ к календарю</h3>
                    <a href='/auth'>выбрать календарь</a>
                </li>
             {% endif %}
        {% endif %}

        <li id="faculty_label" class="notranslate leftHalf      ">
            <label class="desc" id="faculty_title" for="faculty">
                Факультет
                <span id="req_faculty" class="req">*</span>
            </label>

            <div>
                <select id="faculty" name="faculty" class="field select medium" tabindex="4" onchange='getval(this);'>
                    <option value="" selected="selected">
                    </option>
                    <option value="450">Аспир.</option>
                    <option value="15">ВШТ</option>
                    <option value="18">ВШУБ</option>
                    <option value="432">ИСГО</option>
                    <option value="129">Магистр.</option>
                    <option value="530">РИУ</option>
                    <option value="12">УЭФ</option>
                    <option value="11">ФМ</option>
                    <option value="263">ФМБК</option>
                    <option value="13">ФМк</option>
                    <option value="7">ФМЭО</option>
                    <option value="2">ФП</option>
                    <option value="8">ФФБД</option>
                    <option value="14">ФЭУТ</option>
                </select>
            </div>
        </li>
        <li id="form_label" class="notranslate rightHalf    ">
            <label class="desc" id="form_title" for="form">
                Форма обучения
                <span id="req_form" class="req">*</span>
            </label>

            <div>
                <select id="form" name="form" class="field select medium" tabindex="6" required disabled>
                    <option value="" selected="selected">
                    </option>
                </select>
            </div>
        </li>
        <li id="course_label" class="notranslate leftHalf      ">
            <label class="desc" id="course_title" for="course">
                Курс
                <span id="req_course" class="req">*</span>
            </label>

            <div>
                <select id="course" name="course" class="field select medium" tabindex="5" disabled>
                    <option value="" selected="selected">
                    </option>
                </select>
            </div>
        </li>

        <li id="group_label" class="notranslate rightHalf    ">
            <label class="desc" id="group_title" for="group">
                Группа
                <span id="req_group" class="req">*</span>
            </label>

            <div>
                <select id="group" name="group" class="field select medium" tabindex="7" required disabled>
                    <option value="" selected="selected">
                    </option>
                </select>
            </div>
        </li>


        <li id="mode_label" class="notranslate      ">
            <fieldset>
                <![if !IE | (gte IE 8)]>
                <legend id="mode" class="desc">
                    Автоматический импорт каждое воскресенье?</br>
                    <small>Календарь должен быть выбран!</small>
                </legend>
                <![endif]>
                <!--[if lt IE 8]>
                <label id="title3" class="desc">
                    Автоматический импорт каждое воскресенье?</br>
                    <small>Календарь должен быть выбран!</small>
                </label>
                <![endif]-->
                <div>
<span>
<input id="mode0" name="mode" type="radio" class="field radio" value="1" tabindex="8"/>
<label class="choice" for="mode0">
    Да, импортировать автоматически</label>
</span>
<span>
<input id="mode1" name="mode" type="radio" class="field radio" value="0" tabindex="9"/>
<label class="choice" for="mode1">
    Нет, оставить ручной импорт</label>
</span>
                </div>
            </fieldset>
        </li>

        <li id="comment_label"
            class="notranslate      "><label class="desc" id="title1" for="comment">
            Комментарий
        </label>

            <div>
                <textarea id="comment"
                          name="comment"
                          class="field textarea medium"
                          spellcheck="true"
                          rows="10" cols="50"
                          tabindex="10"
                          onkeyup=""
                        ></textarea>

            </div>
            <p class="instruct" id="instruct1">
                <small>Комментарий разработчикам, вопрос или отзыв</small>
            </p>
        </li>
        <li class="notranslate">
            <button id="saveForm" name="saveForm" class="btTxt submit" type="button" value="save"
                    onclick="submitform(this);">Сохранить
            </button>
            <b id='saveme' style="color:red; display:none;">
                <small>Присутствуют несохраненные изменения!</small>
            </b>
        </li>

    </ul>
</form>
{% endblock %}