Привет,

Мы только что обновили сервис расписания BSEU Schedule 2.0 https://bseu-api.appspot.com/, и теперь снова можно импортировать расписание занятий в свой Google календарь!

Для этого залогинься, нажми кнопку "Подключить Google календарь", предоставь все доступы сервису, нажми "Продолжить", выбери из списка календарь, в котором хочешь видеть расписание занятий, поставь галочку напротив "Автоматический импорт", чтобы расписание на следующую неделю автоматически добавлялось в твой календарь каждое воскресенье, и нажми Сохранить.

Если не терпится импортировать расписание в календарь уже сейчас, просто нажми на главной кнопку "Импортировать сейчас", но сначала не забудь убедиться, что отображаемое расписание актуально.

В случае обнаружения каких-либо ошибок в расписании, а также для обращения по другим вопросам, пишите на dskecse@gmail.com.

С уважением,
BSEU Schedule 2.0
