Привет, {{ user.nickname() }}

Расписание на следующую неделю успешно импортировано в ваш календарь: {{ calendar }}.

Созданные события:

    {% for event in events %}
        ({{ event.starttime }} - {{ event.endtime }}) {{ event.title }} - {{ event.description }} [{{ event.location }}]
    {% endfor %}

В случае обнаружения каких-либо ошибок в расписании, а также для обращения по другим вопросам, пишите на dskecse@gmail.com.
Чтобы отключить автоматический импорт, необходимо пройти по https://bseu-api.appspot.com/auth и отключить автоматический импорт.

С уважением,
BSEU Schedule 2.0
