Привет, {{ user.nickname }}

Расписание на следующую неделю успешно импортировано в ваш календарь: {{ user.calendar }}.

Созданные события:

    {% for event in events %}
        ({{ event.starttime }} - {{ event.endtime }}) {{ event.title }} - {{ event.description }} [{{ event.location }}]
    {% endfor %}


В случае обнаружения каких-либо ошибок в расписании, а также для обращения по другим вопросам пишите на dskecse@gmail.com.
Чтобы отключить автоматический импорт и отписаться от рассылки необходимо пройти на https://bseu-api.appspot.com/auth и отключить автоматический импорт.

С уважением,
BSEU Schedule 2.0
